<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

{% block content %}
<body>
    <h1>Login</h1>
    <form action="/login" method="post">
        Username: <input type="text" name="username" required><br>
        Password: <input type="password" name="password" required><br>
        <input type="submit" value="Login" class="w3-button login-button">
    </form>
    <p>Don't have an account? <a href="register" class="w3-button register-button">Register</a></p>
</body>
{% endblock %}


 <style>

        .login-button {
            background-color: #2196F3;
            color: white;
        }
        .register-button {
            background-color: #4CAF50;
            color: white;
        }
    </style>

</html>